/*Transitions*/
.fade-enter {
	opacity:0;
}
.fade-leave-active,
.fade-enter-active {
	transition: opacity 0.25s ease-out;
}
.fade-leave-to {
  opacity: 0;
}

.fadeStop-enter {
	opacity:0;
}
.fadeStop-leave-active {
	transition: opacity 0s ease-out;
}
.fadeStop-enter-active {
	transition: opacity 0.25s ease-out;
}

.slide-fade-enter-active {
  transition: all .2s ease;
}
.slide-fade-leave-active {
  transition: all .2s linear;
}
.slide-fade-enter, .slide-fade-leave-to
/* .slide-fade-leave-active below version 2.1.8 */ {
  transform: translateX(30rem);
  opacity: 0.6;
}

.animated-box {
  position: relative;
}

.animated-box:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 6px;
  background: linear-gradient(120deg, $primary, $accent, $primaryDark);
  background-size: 300% 300%;
  clip-path: polygon(0% 100%, 6px 100%, 6px 6px, calc(100% - 6px) 6px, calc(100% - 6px) calc(100% - 6px), 6px calc(100% - 6px), 6px 100%, 100% 100%, 100% 0%, 0% 0%);
}

.animated-box.in:after {
  animation: frame-enter 1s forwards ease-in-out reverse, gradient-animation 4s ease-in-out infinite;
}

.loader {
  background-color: $background;
  overflow: hidden;
  width: 100%;
  height: 2rem;
  position: fixed;
  bottom: 0; left: 0;
  display: flex;
  align-items: center;
  align-content: center; 
  justify-content: flex-start;  
  z-index: 100000;
}

.loader__element {
  height: 1.6rem;
  width: 100%;
  background: $primary;

}

.loader__element:before {
  content: '';
  display: block;
  background-color: $accent;
  height: 1.6rem;
  width: 0;
  animation: getWidth 1.2s ease infinite;
}

@keyframes getWidth {
  100% { width: 100%; }
}