/*MIXINS*/

@mixin container {
	margin:auto;
	padding:2rem;
	display: block;
	@include respond(tv) {
		width:90%;
		max-width:140rem;
	}
	@include respond(desktop) {
		max-width:120rem;
		width:90%;
	}
	@include respond(tablet-land) {
		width:90%;
	}
	@include respond(phone) {
		padding:1rem;
		width:calc(100% - 2rem);
	}
}

@mixin card {
	@include shadow;
	background:white;
	padding:2rem;
}

@mixin shadow-small {
	box-shadow: 0.3rem 0.3rem 1.2rem 0 rgba(0,0,0, 0.2);
}
@mixin shadow {
	box-shadow: 1rem 1rem 2rem 0 rgba(0,0,0, 0.2);
}
@mixin shadow-large {
	box-shadow: 2rem 2rem 3.4rem 0 rgba(0,0,0, 0.2);
}


@mixin button {
	background-color: inherit;
  border-radius: $radius;
  letter-spacing: 0.04rem;
  border: none;
  padding: .8rem 1.6rem 0.8rem 1.6rem;
  font-size:1.2rem;
  font-weight: 500;
  transition: all .2s linear !important;
	display: inline-flex;
  align-items: center;
	line-height: 1;
	color:inherit;
	text-transform: uppercase;
	.move {
		padding-left:0.5rem;
		transition: all .2s linear !important;
	}
	&:hover {
		cursor:pointer;
		@include shadow-small;
		.move {
			padding-left:1rem;
			transition: all .2s linear !important;
		}
	}
}

@mixin respond ($breakpoint) {
	@if $breakpoint == phone {
		@media (max-width: 37.5em) { @content }; //600px
	}
	@if $breakpoint == tablet-port {
		@media (max-width: 56.25em) { @content }; //900px
	}
	@if $breakpoint == tablet-land {
		@media (max-width: 75em) { @content }; //1200px
	}
	@if $breakpoint == desktop {
		@media (max-width: 112.5em) { @content }; //1800px
	}
	@if $breakpoint == tv {
		@media (min-width: 112.51em) { @content }; //2400px
	}
}