// /*VARIABLES*/


$primary: #00C897;
$primaryDark: #1F966F;
$primaryLight: lighten($primary, 10%);


$accent: #4E97D1; //greens
$accent2: #3C59A8; //darker green
$accentDark: #0F7A56;
$accentLight: lighten($accent, 20%);

$blueHue: #2196F3;

$orangeHue: #efaa0e;

$lightBack: lighten($accent, 80%);

$backBlue:#272c49;

$backgroundDark: #0a0f2c;
$background: #f5f5f5;

$backDark: darken($primaryDark, 25%);
$backAlt: lighten($backDark, 4%);

// $backgroundAlt: #272c49;
$backgroundAlt: #ffffff;

$dark: #333333;
$darkDark: darken($dark, 20%);

$success: $primary;
$successDark: darken($success, 20%);

$danger:#ef4b46;
$dangerDark: darken($danger, 20%);

// $text: #fcfefd;
$text: #333333;
$textLight: #7f7f7f;
$textBright: #BCBCBC;
$textDark: darken($text, 20%);
$lightText:#d0d0d0;

$radius: 0.4rem;

$warning:#f0ad4e;
$warningDark: darken($warning, 20%);

$error:#d9534f;
$errorDark: darken($error, 20%);