/*VARIABLES*/

$primary: #0d3fd1;
$primaryDark: darken($primary, 10%);

$accent: #fc3ef9;
$accentDark: darken($accent, 10%);

$background: #efefef;

$dark: #212121;

$text: #6d6d6d;
$textLight: lighten($text, 35%);

$lightText:#d0d0d0;

$radius: 0.5rem;