/*VARIABLES*/

$primary: #0d3fd1;
$primaryDark: darken($primary, 20%);

$accent: #fc3ef9;
$accentDark: darken($accent, 20%);
$accentLight: lighten($accent, 20%);

$background: #efefef;
$backDark: darken($background, 5%);

$dark: #212121;
$darkDark: darken($dark, 20%);

$text: #3d3d3d;
$textLight: lighten($text, 20%);

$lightText:#d0d0d0;

$radius: 0.5rem;

$success:#5cb85c;
$warning:#f0ad4e;
$danger:#d9534f;