service cloud.firestore {
  match /databases/{database}/documents {
    match /{document=**} {
      allow read;
      allow write: if request.auth.uid != null
    }
    match /leads/{leadId} {
      allow write;
      allow read: if request.auth.uid != null
    }
    match /userDays/{dayId} {
      allow write;
      allow read;
    }
    match /assignments/{assignmentId} {
      allow read;
      allow write;
    }
  }
}