/*BASE*/

#app {
  font-family: system;
  -webkit-font-smoothing: auto;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: auto;
  font-size:1.7rem;
  max-width: 100vw;
  overflow-x: hidden;
  background: $background;
  min-height:calc(100vh - 5rem);
  color:$text;
}

img.avatar {
  border-radius:50%;
  width: 50%;
  margin-bottom: 2rem;
}

.avatar-wrapper {
  background-position:center center;
  border-radius:50%;
  background-size:cover;
  transition:0.2s all;
}

.event-wrapper {
  background-position:center center;
  border-radius:0;
  background-size:cover;
  transition:0.2s all;
}

.errorMessage {
  text-align:center;
  padding:1rem;
  background:red;
  color:white;
  position: absolute;
  bottom: 0;
  width: 100%;
  display:flex;
  align-items:center;
  justify-content:center;
}

hr {
  border-bottom:1px solid $textLight;
  margin:2rem 0;
}

.notification {
  width: 100%;
  background: $accentDark;
  border-radius: $radius;
  padding: 2rem;
  margin-bottom: 2rem;
  color:white;
}

.hidden-small {
  @include respond(tablet-port) {
    display:none;
  }
}