/*BASE*/

#app {
  // font-family: system;
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Ubuntu, roboto, noto, arial, sans-serif;
  -webkit-font-smoothing: auto;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: auto;
  font-size:1.6rem;
  max-width: 100vw;
  overflow-x: hidden;
  background: $background;
  min-height:100vh;
  color:$text;
}

img.avatar {
  border-radius:50%;
  width: 50%;
  margin-bottom: 2rem;
}

.avatar-wrapper {
  background-position:center center;
  border-radius:50%;
  background-size:cover;
  transition:0.2s all;
}

.event-wrapper {
  background-position:center center;
  border-radius:0;
  background-size:cover;
  transition:0.2s all;
}

.errorMessage {
  text-align:center;
  padding:1rem;
  background:red;
  color:white;
  position: absolute;
  bottom: 0;
  width: 100%;
  display:flex;
  align-items:center;
  justify-content:center;
}

hr {
  border-bottom:1px solid $textLight;
  margin:2rem 0;
}

.notification {
  width: 100%;
  background: $accentDark;
  border-radius: $radius;
  padding: 2rem;
  margin-bottom: 2rem;
  color:white;
}

.hidden-small {
  @include respond(tablet-port) {
    display:none;
  }
}

.hidden-large {
  @include respond(tablet-land) {
    display:none;
  }
  @include respond(desktop) {
    display:none;
  }
  @include respond(tv) {
    display:none;
  }
  @include respond(tablet-port) {
    display:block;
  }
}

.vs--disabled .vs__clear, .vs--disabled .vs__dropdown-toggle, .vs--disabled .vs__open-indicator, .vs--disabled .vs__search, .vs--disabled .vs__selected {
    cursor: not-allowed;
    background-color: transparent !important;
    border:none;
}

.points {
  border-radius: 50%;
  padding: 1rem;
  line-height: 1;
  font-weight:900;
}

.app-wrapper {
  display:flex;
  justify-content:flex-end;
}

.success {
  color:$success;
}
.warning {
  color:$warning;
}
.blueHue {
  color:$blueHue;
}
.danger {
  color:$danger;
}
.orangeHue {
  color:$orangeHue;
}
