html {
  font-size:62.5% !important;
  font-size:55% !important;

  // @include respond(phone) {
  //   font-size:55% !important;
  // }
}

@import url("//hello.myfonts.net/count/3eb1be");
  
@font-face {
  font-family: "BankGothicBT-Light";
  src: url('./fonts/BankGothicBTLight/font.woff2') format('woff2'), url('./fonts/BankGothicBTLight/font.woff') format('woff');
}
@font-face {
  font-family: "BankGothicBT-Medium";
  src: url('./fonts/BankGothicBTMedium/font.woff2') format('woff2'), url('./fonts/BankGothicBTMedium/font.woff') format('woff');
}
@font-face {
font-family: 'D-DIN Regular';
font-style: normal;
font-weight: normal;
src: url('./fonts/D-DIN.woff') format('woff');
}


@font-face {
font-family: 'D-DIN DIN-Italic';
font-style: normal;
font-weight: normal;
src: url('./fonts/D-DIN-Italic.woff') format('woff');
}


@font-face {
font-family: 'D-DIN DIN-Bold';
font-style: normal;
font-weight: normal;
src: url('./fonts/D-DIN-Bold.woff') format('woff');
}


@font-face {
font-family: 'D-DIN Condensed Regular';
font-style: normal;
font-weight: normal;
src: url('./fonts/D-DINCondensed.woff') format('woff');
}


@font-face {
font-family: 'D-DIN Exp Regular';
font-style: normal;
font-weight: normal;
src: url('./fonts/D-DINExp.woff') format('woff');
}


@font-face {
font-family: 'D-DIN Exp DINExp-Italic';
font-style: normal;
font-weight: normal;
src: url('./fonts/D-DINExp-Italic.woff') format('woff');
}


@font-face {
font-family: 'D-DIN Condensed DINCondensed-Bold';
font-style: normal;
font-weight: normal;
src: url('./fonts/D-DINCondensed-Bold.woff') format('woff');
}


@font-face {
font-family: 'D-DIN Exp DINExp-Bold';
font-style: normal;
font-weight: normal;
src: url('./fonts/D-DINExp-Bold.woff') format('woff');
}

@font-face {
  font-family: system;
  font-style: normal;
  font-weight: 400;

  src: local(-apple-system), local(BlinkMacSystemFont),
    local("Segoe UI"), local("Roboto"), local("Oxygen"),
    local("Ubuntu"), local("Cantarell"), local("Fira Sans"),
    local("Droid Sans"), local("Helvetica Neue"), sans-serif;
}

a {
  cursor: pointer;
  text-decoration:none;
  color: $primary;
  &.color--text {
    color:$text;
  }
}

h1 {
  // font-family: "BankGothicBT-Medium";
  font-family: 'D-DIN DIN-Bold';
  @include respond(tv) { 
    font-size: 3.6vw !important;
  }
  @include respond(desktop) { 
    font-size: 4rem !important;
  }
  @include respond(tablet-port) { 
    font-size: 3.6rem !important;
  }
  @include respond(phone) { 
    font-size: 3.2rem !important;
  }
}

h2 {
  // font-family: "BankGothicBT-Light";
  font-family: 'D-DIN Exp Regular';
  @include respond(tv) { 
    font-size: 2vw !important;
  }
  @include respond(desktop) { 
    font-size: 2.6rem !important;
  }
  @include respond(tablet-port) { 
    font-size: 2.3rem !important;
  }
  @include respond(phone) { 
    font-size: 2rem !important;
  }
}

h3 {
  // font-family: "BankGothicBT-Medium";
  font-family: 'D-DIN Condensed DINCondensed-Bold';
  @include respond(tv) { 
    font-size: 1.4vw !important;
  }
  @include respond(desktop) { 
    font-size:2.2rem !important;
  }
  @include respond(tablet-port) { 
    font-size: 2rem !important;
  }
  @include respond(phone) { 
    font-size: 1.8rem !important;
  }
}

h5 {
  font-family: 'D-DIN DIN-Bold';
}

address, .caption {
  font-size:1.4rem;
  @include respond(phone) { 
    font-size: 1.2rem !important;
  }
}
.bold {
  font-weight:600;
}
.color--text {
  color:$text;
}