.nav {
	background:$dark;
	&__container {
		@include container;
		padding:1rem;
		width:calc(100% - 2rem);
		display:flex;
		justify-content:space-between;
		align-items:center;
	}
	&__logo {
		a {
			color:$lightText;
			display: flex;
			align-items:center;
			transition:0.2s all;
			svg {
				height:6rem;
				width:auto;
				margin-right:1rem;
				fill:$lightText;
				@include respond(tablet-port) {
					height:5rem;
				}
				@include respond(phone) {
					height:4rem;
				}
			}
			&:hover {
				color:white;
				svg {
					fill:white;
				}
			}
		}
	}
	&__menu {
		display:flex;
		align-items:center;
		justify-content:space-evenly;
		&--item {
			display:flex;
			align-items:center;
			padding:0 1rem;
			text-transform:uppercase;
			font-size:1.4rem;
			transition:0.2s all;
			font-weight:500;
			img.avatar {
				width:4rem;
				height:4rem;
				margin-bottom:0;
			}
			a {
				color:$lightText;
			}
			&:hover {
				a {
					color:white;
				}
			}
		}
	}
}