.dashboard {
	min-height: 100vh;
  width: calc(100% - 26rem);
  padding-bottom: 2rem;
  @include respond(tablet-port) {
  	padding-bottom: 6rem;
  	width: 100%;
  	min-height: calc(100vh - 16rem);
  }
	&__container {
		@include container;
		&--header {
			display: flex;
			align-items: center;
			justify-content: space-between;
			// border-bottom: 1px solid $textLight;
		}
		&--body {
			display: flex;
			flex-wrap: wrap;
			justify-content:space-between;
			@include respond(tablet-port) {
				flex-wrap: wrap;
				display: block;
			}
			&--col {
				width: calc(50% - 1.6rem);
		    
		    margin-bottom: 2rem;
		    color: $text;
				// width: calc(49% - 3.2rem);
		    // padding: 1.6rem;
		    // background: white;
		    margin-bottom: 2rem;
		    border-radius:$radius;
				@include respond(tablet-port) {
					// width:calc(100% - 3.2rem);
					width: 100%;
					// padding: 1.6rem;
				}
			}
		}
	}
}

.dashboard__container--body--col > div:first-child {
	background-color:white;
	padding: 1.6rem;
}

.alt-col {
	background:transparent;
	padding:0;
	width:49%;
	@include respond(phone) {
		width:100%;
	}
}

.eventsHeader {
	display:flex;
	flex-direction:row;
	@include respond(tablet-port) {
		flex-direction:column;
	}
}
.eventsHeader .search {
	margin:1rem;
	@include respond(tablet-port) {
		flex-direction:column;
	}
}
.eventsHeader .search .v-select{
	@include respond(tablet-port) {
		margin-top:1.6rem;
	}
}