.dashboard {
	min-height:calc(100vh - 10rem);
	&__container {
		@include container;
		&--header {
			display: flex;
			align-items: center;
			justify-content: space-between;
			border-bottom: 1px solid $textLight;
		}
		&--body {
			display: flex;
			flex-wrap: wrap;
			justify-content:space-between;
			@include respond(phone) {
				flex-wrap: wrap;
				display: block;
			}
			&--col {
				width:49%;
				padding: 2rem 0;
				border-bottom: 1px solid $textLight;
				@include respond(phone) {
					width:calc(100% - 4rem);
					padding: 2rem;
					&:last-child {
	    			border-bottom: none;
	    		}
				}
			}
		}
	}
}