.btn {
	@include button;
	&__flat {
		&:hover {
			box-shadow:none;
		}
	}
	&__icon {
		padding: 0;
    font-size: 1.5rem;
		&:hover {
			box-shadow:none;
		}
	}
	&__flat {
		border:1px transparent;
		background:transparent;
		color:$text;
	}
	&__ghost {
		border:1px solid white;
		background:transparent;
		color:white !important;
	}
	&__primary {
		background:$primary;
		border-color:$primary;
		color:white;
		&:hover {
			background:$primaryDark;
			border-color:$primaryDark;
		}
	}
	&__success {
		background:$success;
		border-color:$success;
		color:white;
		&:hover {
			box-shadow:none;
			background:$successDark;
			border-color:$successDark;
		}
	}
	&__warning {
		background:$warning;
		border-color:$warning;
		color:white;
		&:hover {
			box-shadow:none;
		}
	}
	&__danger {
		background:$danger;
		border-color:$danger;
		color:white;
		&:hover {
			background:$dangerDark;
			border-color:$dangerDark;
			box-shadow:none;
		}
	}
	&__dark {
		background:$backgroundAlt;
		border-color:$backgroundAlt;
		color:white;
		&:hover {
			background:$dark;
			border-color:$dark;
		}
	}
	&__accent {
		background:$accent;
		border-color:$accent;
		color:white;
		&:hover {
			background:$accentDark;
			border-color:$accentDark;
		}
	}
	&__small {
		padding: .6rem 1.2rem 0.6rem 1.2rem;
  	font-size:1.2rem;
	}
	&__large {
		padding: 1rem 2rem 0.9rem 2rem;
  	font-size:1.4rem;
	}
	&__outlined {
		border:1px solid $textLight;
		background:transparent;
		color:$text !important;
	}
	&__gradient {
		color:white;
		z-index: 1;
		background-image: linear-gradient(to right bottom, $accent, $accentDark, $primaryDark);
		position: relative;
		&::before {
		  position: absolute;
		  content: "";
		  top: 0;
		  right: 0;
		  bottom: 0;
		  left: 0;
		  background-image: linear-gradient(to right bottom, $accentDark, $primaryDark, $primary);
		  z-index: -1;
		  transition: opacity 0.2s linear;
		  opacity: 0;
		  border-radius:$radius;
		}
		&:hover {
			&::before {
			  opacity: 1;
			  border-radius:$radius;
			}
		}
	}
}

button.chip {
	padding: .5rem 1rem 0.5rem 1rem;
  font-size:1.1rem;
  border-radius:12rem;
  border:1px solid $textLight;
}
button.chipDark {
	padding: .5rem 1rem 0.5rem 1rem;
  font-size:1.1rem;
  background:$dark;
  color:white;
  border-radius:12rem;
  border:1px solid $dark;
}

button[disabled] {
  cursor: none;
  background-color: transparent !important;
  border-color: inherit !important;
  color: #999 !important;
  opacity:0.5;
}