.croppa-container {
	position:relative;
}
.avatar-wrapper .croppa-container canvas {
	border-radius:50%;
	cursor:pointer;
	border-color: #ccc !important;
}

.event-wrapper .croppa-container canvas {
	border-radius:0;
	cursor:pointer;
	border-color: #ccc !important;
}
svg.icon-remove {
	top: -0.5rem;
	right: -0.5rem;
  left: -0.5rem;
  position: absolute;
  &:hover {
  	cursor: pointer;
  }
}

.ql-editor {
  min-height: 200px;
  font-size: 14px !important;
}