input, textarea {
  padding: 0.8rem;
  border-style: solid;
  -o-border-image: none;
  border-image: none;
  border-width: 1px;
  border-color: inherit;
  width: 100%;
  font-size: 1.4rem;
  background: $background;
  border-color: transparent;
  border-radius: 0.4rem;
  margin-top: 0.2rem;
  color:$text;
}
select {
  padding: 0.8rem;
  height:auto;
  background:$background;
}
input[type=time],  input[type=date]{
  padding: 0.5rem;
}
input.upload {
  background: transparent;
  padding: 0.5rem 0;
}

label {
  font-size:1.3rem;
  font-weight:500;
}

::placeholder {
  color:$accentLight;
  opacity:0.8;
}

progress {
  height: 0.5rem;
  width: 20rem;
}

.signup-form {
  width: 80%;
  max-width: 40rem;
}

.ql-editor {
  background: $background;
}
.quillWrapper {
  background: white;
  border-radius:$radius;
}
// .quillWrapper .ql-snow.ql-toolbar {
//   display:none;
// }
.ql-snow {
  border:none !important;
}
.ql-editor.ql-blank::before {
  color:$accentLight !important;
  opacity:0.8;
}


.vs__dropdown-menu {
  z-index: 20;
}


.search #searchbox {
  padding: 3px 0;
  padding-left:0.5rem;
  background:white;
  border-radius:$radius;
  min-width: 320px;
}
    
.search vs__selected-options {
  background-color:white;
}
.search .vs__actions {
  display: flex;
  background-color: white;
  align-items: center;
  padding: 4px 8px;
  color:$text;
}
.search .vs__clear, .search .vs__open-indicator {
  fill: grey;
  margin: 0 8px;
}
.search .vs__selected {
  background-color: white;
  border-color: transparent;
  padding: 0;
  border-radius: $radius 0 0 $radius;
  margin:0;
}

.search .vs__dropdown-toggle {
  padding: 0 !important;
  border: none;
}
.search .vs__search {
  background: white;
  margin: 0;
  height: 34px !important;
  padding: 0 6px;
}
.search .vs__dropdown-toggle {
  background-color: white;
}