input, textarea {
  padding: 0.8rem;
  border-style: solid;
  -o-border-image: none;
  border-image: none;
  border-width: 1px;
  border-color: inherit;
  width: 100%;
  font-size: 1.6rem;
  background: white;
  border-color: transparent;
  border-radius: 0.4rem;
}